#header_container {
	background-color: lightgray;
	padding: 20px;
	text-align: left;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 10px;
}

#header_container a {
	text-decoration: none;
	color: black;
}

h3 {
	background-color: gray;
	padding: 10px;
	text-align: left;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	font-size: 20px;
}

.error-messages {
	background-color: red;
    border-radius: 5px 5px 5px 5px;
    color: black;
    list-style: none outside none;
    padding: 8px;
    margin: 2px 0 2px 0;
    text-align: center;
}

.info-messages {
	background-color: green;
    border-radius: 5px 5px 5px 5px;
    color: black;
    list-style: none outside none;
    padding: 8px;
    margin: 2px 0 2px 0;
    text-align: center;
}

.messages-panel {
	border: 0px none;
	border-radius: 5px 5px 5px 5px;
	padding: 0;
	text-align: center;
}

.hidden {
    display: none;
}

input,select,textarea {
	padding: 5px;
	margin: 5px 0 5px 0;
}

input[type=submit] {
	margin-left: 100px;
}

.input {
	vertical-align: top;
	width: 100px;
	float: left;
	margin: 5px 0 5px 0;
}

fieldset {
	border: 1px solid gray;
	margin: 5px 0 5px 0;
}

fieldset legend {
	background-color: gray;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

hr {
	border-top: 1px dotted gray;
  	color: #fff;
  	background-color: #fff;
  	height: 1px;
  	width:100%;
}

body {
	padding: 0 5px 0 5px;
}

#footer {
	 border-top: 1px dotted gray;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 0 0;
    text-align: center;
    width: 100%;
}

.post-title-div {
	background-color: gray;
	padding: 10px;
	text-align: left;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.post-title {
	font-weight: bold;
	font-size: 20px;
}

.post-title a {
	color: black;
	font-style: italic;
	text-decoration: none;
}

.post-title a:hover {
	color: #aaaaaa;
	cursor: pointer;
	font-style: italic;
	text-decoration: none;
}

.posted-date-author {
	margin-top: 10px;
	font-size: 9px;
}

.post-comments-count {
	margin-top: 10px;
	font-size: 9px;
	font-style: italic;
}

.add_post {
	font-size: 10px;
	text-align: center;
}